@import "libs/normalize";
@import "libs/fonts";

@import "main/mixins";
@import "main/variables";

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    /* scroll-behavior: smooth; */
}

.container {
    width: 1179px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.fade {
    display: block;
}


@import "blocks/promo";
@import "blocks/header";
@import "blocks/services";
@import "blocks/team";
@import "blocks/macBook";
@import "blocks/work";
@import "blocks/footer";
@import "blocks/title";
@import "blocks/modal";
@import "blocks/about";
@import "blocks/our-team";
@import "blocks/contact";
@import "blocks/portfolio";
@import "blocks/button";
@import "blocks/input";
@import "blocks/logo";
@import "blocks/policy";
@import "blocks/animation";
@import "blocks/media";