.animation {
    &__type__fade {
        animation-duration: 0.6s;
        animation-name: fade;
    }
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}