.promo {
    min-height: 873px;
    background: url("../../img/promo_bg.png") center / cover no-repeat;
    background-color: #191b29;

    &__line {
        width: 100%;
        height: 8px;
        background-color: #ffd800;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }

    &__input {
        margin-right: 15px;
        padding: 22px 0 22px 10px;
        opacity: 0.5;
        border-radius: 3px;
        border: solid 1px #fff;
        background: transparent;
        outline: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;

        &::placeholder {
            opacity: 0.5;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__button {
        padding: 22px 38px 22px 40px;
        border-radius: 3px;
        border: none;
        background-color: #ffd800;
        font-size: 18px;
        font-weight: 600;
        color: #080e17;
        text-align: center;
        text-transform: uppercase;
    }
}